.article h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.article h1 p {
    margin-bottom: 2em;
}

.article h2 {
    font-size: 1.5em;
}

.article h3 {
    font-size: 1.17em;
}

.article h4 {
    font-size: 1em;
}

.article h5 {
    font-size: 0.83em;
}

.article h6 {
    font-size: 0.67em;
}

.article p > code {
    background-color: lightgrey;
    padding: 1px 3px;
    margin: 0 3px;
    border-radius: 5px;
}

.article pre {
    background-color: lightgrey;
}

.linkTitle {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: black
}

.linkTitle:hover {
    color: orange;
}

.postSummary {
    margin: 4em 0;
    text-align: center;
}

.date {
    font-size: 10pt;
}